<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Suite1">
    <listeners>
        <listener class-name="org.uncommons.reportng.HTMLReporter"/>
        <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
    </listeners>
    <test name="Test MOCK RestAPI">
        <classes>
            <class name="tests.TestPostAndDeleteCompanies"></class>
            <class name="tests.TestPostAndDeleteUsers"></class>
            <class name="tests.TestGetCalls"></class>
        </classes>
    </test>
</suite>